body{
  background-color: #a3d2ca;
}

img{
  height: 130px;
  background-color: #a3d2ca;
}
hr{

  border-style: dotted none none;
  border-width: 5px;
  border-color: grey;
  width: 7%;
}
h1{
  text-decoration: underline;
  color: #66BFCF;
}
h3{
  text-decoration: underline;
  color: #66BFCF;
}
#heading{
  background-color: green;
}
/*a:hover{
  color: red;

}*/
img:hover{

  color: red;
  height: 500px;

}
.qwerty:hover{
  background-color: white;
  font-size: 20px;
  color: red;
}
.zoom:hover{
  text: 200px;
}
.m:hover{
  border-color: blue;
  border-width: 10px;

}
.raw:hover{
  color: white
}
